{% extends 'store/_base.html' %} 
{% load static %} 
{% block title %}About{% endblock %} 

{% block content %}
<div class="container my-5">
  
  {% for message in messages %}
    {{ message }}
  {% endfor %}
    
  <div class="card mb-3 shadow-lg rounded-4">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded-start"
          alt="{{ product.name }}" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <center>
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-center small text-info mb-2">
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
            </div>

            {% if product.is_sale %}
            <div
              class="badge text-bg-dark position-absolute"
              style="top: 0.5rem; right: 0.5rem">
              Sale!
            </div>
            <strike>${{ product.price }}</strike>&nbsp; ${{ product.sale_price }} 
            {% else %}
            <div
              class="badge text-bg-danger position-absolute"
              style="top: 0.5rem; right: 0.5rem">
              Out of Stock!!!
            </div>
            ${{ product.price }} 
            {% endif %}
            <div class="container my-2">
              <div class="row justify-content-center">
                <div class="col-md-2">Quantity:</div>
                <div class="col-md-2">
                  <select class="form-select form-select-sm" id="cart-quantity">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="my-3">
              <a
                href="{% url 'home' %}"
                class="btn btn-outline-secondary btn-sm"
                >Home</a
              >&nbsp;
              <button
                class="btn btn-outline-dark btn-sm"
                type="button"
                value="{{ product.id }}"
                id="add-cart">
                <i class="bi-cart-fill me-1"></i>Add To Cart
              </button>
            </div>
            <p class="card-text">
              <small class="text-body-secondary">
                <em> {{ name }} is learning!!! </em>
              </small>
            </p>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Check if button pressed
  $(document).on("click", "#add-cart", function (e) {
    e.preventDefault();

    $.ajax({
      type: "POST",
      url: "{% url 'cart_add' %}",
      data: {
        product_id: $("#add-cart").val(),
        product_quantity: $("#cart-quantity option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },

      success: function (json) {
        // console.log(json);
        document.getElementById("cart_quantity").textContent = json.qty;
        location.reload();
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock %}
