{% extends 'store/_base.html' %} 
{% load static %} 
{% block title %}About{% endblock %} 
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Search Products</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Find What You're Looking For.
      </p>
    </div>
  </div>
</header>

<div class="container my-5">
  <div class="row">
    <div class="col-md-10">
      <div class="card mb-5">
        <div class="card-header d-flex justify-content-center">
          Search Products
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="mb-3">
              <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search for Products" />
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-outline-secondary">
                Search <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          {% if searched %} 
            {% for product in searched %} 
            {% if product.is_sale %}
            <div class="col my-5">
              <div class="card h-100">
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                <div class="card-body p-4">
                  <div class="text-center">
                    <h5 class="fw-bolder">{{ product.name }}</h5>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                    </div>
                    <strike>${{ product.price }}</strike>&nbsp;${{ product.sale_price }}
                  </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product.id %}">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <div class="col mb-5">
              <div class="card h-100">
                <div class="badge text-bg-danger position-absolute" style="top: 0.5rem; right: 0.5rem;">Out of stock</div>
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                <div class="card-body p-4">
                  <div class="text-center">
                    <h5 class="fw-bolder">{{ product.name }}</h5>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                    </div>
                    ${{ product.price }}
                  </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product.id %}">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
